.App {
  text-align: center;
}

.common {
  padding: "100px 200px";
  color: "#b8babb";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Head_Titles {
  font-size: 2rem;
  font-weight: bold;
  color: #b8babb;
}

.main_title {
  font-size: 3rem;
  font-weight: 700;
  color: #ff0083;
}

.sub_title {
  font-size: 2rem;
  font-weight: 500;
  color: #b8babb;
}

.button_container {
  background-color: #ff0083;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button_container:hover {
  background-color: #cc0040;
  color: white;
}